<div class="container-fluid">
    <div class="row py-4">
        <div class="col">
            <div class="bg-light">
                <ul>
                    <li routerLink="home">home</li>
                    <li routerLink="manage-users">manage</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="bg-light">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>