<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="menu-list">
                <li class="menu-item" routerLink="listings" routerLinkActive="active">Обяви</li>
                <li class="menu-item" routerLink="messages" routerLinkActive="active">Съобщения</li>
                <li class="menu-item" routerLink="settings" routerLinkActive="active">Настройки</li>
                <li class="menu-item bg-danger mt-5" id="logoutButton" (click)="onLogOut()">Изход</li>
            </ul>
        </div>
        <div class="col-10">
            <div class="section">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>