<div class="content">
    <div class="container-md mx-auto">
        <div class="row pt-0">
            <div class="col">
                <p-tabMenu *ngIf="!isAdmin" [model]="itemsDefault!" [scrollable]="true" [activeItem]="activeItem!"></p-tabMenu>
                <p-tabMenu *ngIf="isAdmin" [model]="itemsAdmin!" [scrollable]="true" [activeItem]="activeItem!"></p-tabMenu>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
