<nav id="navbar-overwrite" class="navbar navbar-dark bg-dark py-3 justify-content-between flex-nowrap flex-row">
    <div class="container-xl">

      <a class="navbar-brand" routerLink="/home">Eclipse Market</a>

      <div class="" id="navbarSupportedContent">
        <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item mx-1">
            <a class="nav-link"><i class="pi pi-envelope"></i> Съобщения</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link"><i class="pi pi-bookmark"></i> Отметки</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/account"><i class="pi pi-user"></i> Моят профил</a>
          </li>
          <li class="nav-item mx-1">
            <button id="addButton" class="nav-link btn btn-dark px-2"> Добави обява</button>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>