<div class="container-fluid px-0">
    <div class="row">
        <div class="col-4">
            search for a message
            <div 
                *ngFor="let message of messageList"
                class="message-container w-100 d-flex flex-column p-3 my-3"
                (click)="onSelectMessage(message)">
                <span class="sender"> Sender ID {{ message.senderId }}</span>
                <span class="title">{{ message.title }}</span>
                <span class="description">{{ message.body | slice:0:70 }}</span>
            </div>
        </div>
        <div class="col-8">
            message preview
            <div
                *ngIf="!messageIsSelected" 
                class="noMessage-container d-flex justify-content-center align-items-center my-3">
                <span>Please select a message!</span>
            </div>
            <div
            *ngIf="messageIsSelected" 
            class="message-preview-container d-flex justify-content-center align-items-center my-3">
            
                <label>{{ selectedMessage?.title }}</label>
            </div>
        </div>
    </div>
</div>