:host::ng-deep {
  .message-container {
    background: var(--gray-blue-dark);
    color: var(--text-light);
    min-height: 140px;
    border: 2px solid var(--gray-blue-border);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s;
  }
  .sender {
    color: var(--text-inactive);
  }
  .title {
    word-break: break-all;
  }
  .description {
    opacity: 0.5;
    word-break: break-all;
  }
  .noMessage-container {
    height: 600px;
    width: 100%;
    color: var(--text-light);
    background: var(--gray-blue-dark);
    border: 2px solid var(--gray-blue-border);
    border-radius: 8px;
  }
  .noMessage-container span {
    font-size: 24px;
  }
  .message-preview-container {
    position: relative;
    min-height: 600px;
    width: 100%;
    max-height: 800px;
    color: var(--text-light);
    background: var(--gray-blue-dark);
    border: 2px solid var(--gray-blue-border);
    border-radius: 8px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .message-wrapper {
    background-color: inherit;
    border: 2px solid var(--gray-blue-border);
    border-radius: 8px;
    padding: 12px;
    height: max-content !important;
    max-width: 60%;
  }
  .primary {
    width: 100%;
    border-radius: 8px;
    word-break: break-all;
    cursor: pointer;
  }
  .primary > .message-wrapper {
    background-color: var(--blue-bg);
    margin-right: 0px;
    margin-left: auto;
  }

  .secondary {
    width: 100%;
    border-radius: 8px;
    word-break: break-all;
    cursor: pointer;
  }
  .secondary > .message-wrapper {
    background-color: var(--gray-blue-medium);
    margin-right: auto;
    margin-left: 0px;
  }
  .primary-date {
    font-size: 12px;
    margin-right: 0px;
    margin-left: auto;
  }
  .secondary-date {
    font-size: 12px;
    margin-left: 0px;
    margin-right: auto;
  }
  p {
    margin: 0;
  }
  .text-end {
    color: var(--gray-blue-medium);
  }
  .text-start {
    color: var(--blue-bg);
  }
  input.form-control {
    background-color: var(--gray-blue);
    border: 2px var(--gray-blue) solid;
    color: var(--text-light);
    font-size: 16px;
    transition: 0.3s;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  .message-input-container {
    width: 100%;
  }
  .form-floating input,
  .form-floating {
    width: 100%;
  }

  .message-preview-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: inherit;
  }

  .message-preview-container::-webkit-scrollbar {
    width: 12px;
    background-color: Rgba(0, 0, 0, 0.3);
  }

  .message-preview-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--gray-blue-medium);
  }
  .message-container:hover {
    background-color: var(--gray-blue-medium);
    border: 2px solid var(--border-medium);
  }
  .active,
  .active:hover {
    background-color: var(--gray-blue);
    border: 2px solid var(--blue-bg);
  }

  .edit-dialog {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--border-medium);
    transform: translateX(-50%) translateY(-50%);
  }
  .message-box {
    width: 100%;
  }
  .message-menu {
    visibility: hidden;
    position: absolute;
    height: fit-content;
    background: var(--gray-blue-border);
    border-radius: 4px;
    padding: 6px;
    max-width: fit-content;
    li {
      padding: 4px 8px;
      list-style: none;
      cursor: pointer;
      i:hover {
        color: var(--blue-bg);
      }
      i.pi-trash:hover {
        color: var(--danger);
      }
    }
    li:hover {
      background: var(--gray-blue);
    }
  }
  .msg-edit-button {
    scale: 0.8;
  }
  .msg-edit-input {
    background-color: var(--gray-blue);
    color: var(--text-light);
    width: 100%;
  }
  .msg-edit-input::placeholder {
    color: var(--text-inactive);
  }
  .p-dialog,
  .p-dialog-footer {
    padding: 0 0 1rem 0;
  }
  .p-dialog-content {
    padding-bottom: 1rem;
  }
}
