<div class="container-fluid px-0">
  <div class="row">
    <div class="col-4">
      <div *ngIf="test$ | async as test">
        <div
          *ngFor="let chat of test"
          [ngClass]="selectedChatId === chat.chatId ? 'active' : ''"
          class="message-container w-100 d-flex flex-column p-3 my-3"
          (click)="onSelectChat(chat.chatId)">
          <span>{{ chat.topicListingTitle }}</span>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div
        *ngIf="!chatIsSelected"
        class="noMessage-container d-flex justify-content-center align-items-center my-3">
        <span>Please select a chat!</span>
      </div>
      <ng-container *ngIf="chatIsSelected">
        <div
          *ngIf="test$ | async as test"
          class="message-preview-container my-3 p-1 p-md-4 d-flex flex-column-reverse justify-content-between">
          <div class="message-input-container d-flex align-items-center">
            <input
              (keyup.enter)="onSendMessage()"
              #msgInput
              type="text"
              name="message"
              placeholder="Напишете съобщение..."
              class="form-control" />
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-send"
              class="p-button-rounded p-button-success mx-2"
              (click)="onSendMessage()"></button>
          </div>
          <div *ngFor="let sm of test">
            <div
              class="d-flex flex-column message-box"
              *ngFor="let message of sm.combinedMessages; let i = index">
              <div *ngIf="message.chatId === selectedChatId">
                <ul #contextMenu class="message-menu">
                  <li
                    [ngStyle]="{
                      display: isPrimary(message) ? 'block' : 'none'
                    }"
                    class="edit"
                    (click)="onToggleEditMessageDialog(message, i)">
                    Редактирай
                    <i class="pi pi-pencil"></i>
                  </li>
                  <li class="copy" (click)="onCopyMessage(message)">
                    Копирай
                    <i class="pi pi-copy"></i>
                  </li>
                  <li
                    [ngStyle]="{
                      display: isPrimary(message) ? 'block' : 'none'
                    }"
                    class="delete"
                    (click)="onDeleteMessage(message)">
                    Изтрий
                    <i class="pi pi-trash"></i>
                  </li>
                </ul>
                <div
                  [ngClass]="
                    isPrimary(message)
                      ? 'primary flex-row-reverse'
                      : 'secondary'
                  "
                  class="d-flex message-line">
                  <div
                    class="message-wrapper d-flex flex-column"
                    (contextmenu)="onShowMessageContextMenu($event, i)">
                    <span
                      [ngClass]="
                        isPrimary(message) ? 'text-end' : 'text-start'
                      ">
                      {{ message.userName }}
                    </span>
                    <p class="text-center">
                      {{ message.body }}
                    </p>
                  </div>
                </div>

                <span
                  [ngClass]="
                    isPrimary(message) ? 'primary-date' : 'secondary-date'
                  ">
                  {{ message.timeSent }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<p-dialog
  [blockScroll]="true"
  [draggable]="false"
  [(visible)]="isEditMessageDialogVisible">
  <ng-template pTemplate="header">Редакция на съобщение</ng-template>
  <input
    #editedMessageInput
    pInputText
    class="msg-edit-input"
    type="text"
    [placeholder]="selectedMessageForDelete?.body" />
  <ng-template pTemplate="footer">
    <button
      class="msg-edit-button"
      pButton
      pRipple
      label="Запази"
      icon="pi pi-check"
      (click)="onEditMessage()"></button>
  </ng-template>
</p-dialog>

<!-- <div *ngIf="test$ | async as test">
  <div class="bg-dark" *ngFor="let chat of test">
    <div *ngFor="let primary of chat.combinedMessages">
      {{ primary.body }}
    </div>
    -----------------------------------------------
  </div>
</div> -->
