:host ::ng-deep {
    .p-breadcrumb {
        background: var(--gray-blue-dark);
        border: 2px solid var(--gray-blue-border);
    }
    .pi-chevron-right:before{
        content: '/';
        // background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
        // background-size:cover;
        //     position:absolute;
        // width:20px;
        // height:20px;
        // margin-left:-20px;
    }

}