:host ::ng-deep {
  .p-breadcrumb {
    background: var(--primary-dark);
    border: 2px solid var(--border);
  }
  .p-breadcrumb ul li:last-child .p-menuitem-text,
  .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    color: var(--text-primary);
  }
}
