<div class="container-xl">
    <div class="row">
        <div class="col-12">
            <div class="input-group my-3">
                
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>HomeComponent Works!</p>
        </div>
    </div>
    
</div>
