#descTextArea {
  resize: none;
  min-height: 24px;
  overflow: hidden;
  transition: 0.3s;
}
#descTextArea:focus {
  height: 200px;
}
h4 {
  color: var(--text-primary);
}

:host::ng-deep {
  input.form-control,
  textarea,
  textarea:focus,
  select {
    background-color: var(--primary-medium);
    border: 2px var(--border) solid;
    color: var(--text-primary);
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  .form-floating > label {
    line-height: 8px;
  }
  .form-floating > label,
  .form-floating select {
    font-size: 20px;
    // line-height: 8px;
    color: var(--text-primary);
    height: auto;
  }

  #charLeft {
    color: var(--text-primary);
    float: right;
  }

  .auction,
  .listing {
    height: 80px;
    background-color: var(--primary-medium);
    border: 2px solid var(--border);
    border-radius: 8px;
    color: var(--text-primary);
    font-size: 18px;
    cursor: pointer;
  }
  .auction i,
  .listing i {
    font-size: 1.4em;
  }

  .activeOption {
    border: 3px solid var(--secondary);
    background: var(--primary-light);
  }

  .p-tooltip {
    background-color: var(--primary-medium);
  }
}
