<p-toast position="top-right"></p-toast>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-12 p-0">
      <div
        (click)="onListingMode()"
        [ngClass]="!auctionMode ? 'activeOption listing' : ''"
        class="listing mb-3 d-flex justify-content-center align-items-center flex-column">
        <i class="fa fa-tag"></i>
        <label>Обява</label>
      </div>
      <div
        (click)="onAuctionMode()"
        [ngClass]="auctionMode ? 'activeOption auction' : ''"
        class="auction mb-5 d-flex justify-content-center align-items-center flex-column">
        <i class="fa fa-gavel"></i>
        <label>Търг</label>
      </div>
    </div>
    <div class="col-md-9 col-12 px-md-5 px-0">
      <form *ngIf="!auctionMode" [formGroup]="createListingForm">
        <h4 class="text-center mb-5 mt-3">Създаване на обява</h4>
        <div class="form-floating mb-4">
          <input
            type="text"
            name="title"
            placeholder="Заглавие"
            class="form-control"
            (keyup.enter)="focusableDescription.focus()"
            formControlName="title" />
          <label for="title">Заглавие</label>
          <app-form-errors
            [control]="$any(createListingForm).get('title')"
            [controlName]="'Заглавие'"></app-form-errors>
        </div>
        <div class="form-floating mb-4">
          <textarea
            type="text"
            #focusableDescription
            (keyup.enter)="focusableLocation.focus()"
            [(ngModel)]="textAreaValue"
            (ngModelChange)="valueChange(textAreaValue)"
            id="descTextArea"
            name="description"
            maxlength="800"
            placeholder="Описание"
            class="form-control"
            formControlName="description"></textarea>
          <span id="charLeft">
            Остават ви {{ remainingCharacters }} символа
          </span>
          <label for="description">Описание</label>
          <app-form-errors
            [control]="$any(createListingForm).get('description')"
            [controlName]="'Описание'"
            [minLength]="'80'"></app-form-errors>
        </div>
        <div class="form-floating mb-4">
          <input
            type="text"
            name="location"
            #focusableLocation
            (keyup.enter)="focusableCategory.focus()"
            placeholder="Локация"
            class="form-control"
            formControlName="location" />
          <label for="location">Локация</label>
          <app-form-errors
            [control]="$any(createListingForm).get('location')"
            [controlName]="'Локация'"></app-form-errors>
        </div>
        <div class="form-floating mb-4">
          <select
            #focusableCategory
            class="form-select"
            name="listingCategory"
            formControlName="listingCategoryId">
            <option
              *ngFor="let category of listingCategories"
              value="{{ category.id }}">
              {{ category.title }}
            </option>
          </select>
          <label for="listingCategory">Категория</label>
          <app-form-errors
            [control]="$any(createListingForm).get('listingCategoryId')"
            [controlName]="'Категория'"></app-form-errors>
        </div>

        <div class="d-flex flex-row-reverse">
          <button
            pButton
            [disabled]="!createListingForm.valid"
            type="button"
            pRipple
            label="Продължи"
            class="p-button-primary p-2 my-sm-4 my-0"
            (click)="nextPage()"></button>
        </div>
      </form>

      <form *ngIf="auctionMode" [formGroup]="createAuctionForm">
        <h4 class="text-center mb-5 mt-3">Създаване на Търг</h4>
        <div class="form-floating mb-4">
          <input
            type="text"
            name="title"
            placeholder="Заглавие"
            class="form-control"
            formControlName="title" />
          <label for="title">Заглавие</label>
          <app-form-errors
            [control]="$any(createAuctionForm).get('title')"
            [controlName]="'Заглавие'"></app-form-errors>
        </div>
        <div class="form-floating mb-4">
          <textarea
            type="text"
            [(ngModel)]="textAreaValue"
            (ngModelChange)="valueChange(textAreaValue)"
            id="descTextArea"
            name="description"
            maxlength="800"
            placeholder="Описание"
            class="form-control"
            formControlName="description"></textarea>
          <span id="charLeft">
            Остават ви {{ remainingCharacters }} символа
          </span>
          <label for="description">Описание</label>
          <app-form-errors
            [control]="$any(createAuctionForm).get('description')"
            [controlName]="'Описание'"
            [minLength]="'80'"></app-form-errors>
        </div>
        <div class="form-floating mb-4">
          <input
            type="text"
            name="location"
            placeholder="Локация"
            class="form-control"
            formControlName="location" />
          <label for="location">Локация</label>
          <app-form-errors
            [control]="$any(createAuctionForm).get('location')"
            [controlName]="'Локация'"></app-form-errors>
        </div>
        <div class="form-floating mb-4">
          <select
            class="form-select"
            name="listingCategory"
            formControlName="listingCategoryId">
            <option
              *ngFor="let category of listingCategories"
              value="{{ category.id }}">
              {{ category.title }}
            </option>
          </select>
          <label for="listingCategory">Категория</label>
          <app-form-errors
            [control]="$any(createAuctionForm).get('listingCategoryId')"
            [controlName]="'Категория'"></app-form-errors>
        </div>

        <div class="mb-4">
          <p-calendar
            inputId="expire-date"
            [placeholder]="'Дата на изтичане'"
            formControlName="expireTime"
            [showTime]="true"
            [showSeconds]="true"
            [showIcon]="true"></p-calendar>
          <app-form-errors
            [control]="$any(createAuctionForm).get('expireTime')"
            [controlName]="'Дата на изтичане'"></app-form-errors>
        </div>

        <div class="form-floating mb-4">
          <input
            type="number"
            name="startingPrice"
            placeholder="Начална цена"
            class="form-control"
            formControlName="startingPrice" />
          <label for="startingPrice">Начална цена</label>
          <app-form-errors
            [control]="$any(createAuctionForm).get('startingPrice')"
            [controlName]="'Начална цена'"></app-form-errors>
        </div>

        <div class="form-floating mb-4">
            <input
              type="number"
              name="bidIncrementPercentage"
              placeholder="Минимален процент на наддаване"
              class="form-control"
              formControlName="bidIncrementPercentage" />
            <label for="bidIncrementPercentage">Минимален процент на наддаване</label>
            <app-form-errors
              [control]="$any(createAuctionForm).get('bidIncrementPercentage')"
              [controlName]="'Минимален процент на наддаване'"
              [minValue]="5"></app-form-errors>
          </div>

          <div class="form-floating mb-4">
            <input
              type="number"
              name="buyoutPrice"
              placeholder="Изкупна цена"
              class="form-control"
              formControlName="buyoutPrice" />
            <label for="buyoutPrice">Изкупна цена</label>
            <app-form-errors
              [control]="$any(createAuctionForm).get('buyoutPrice')"
              [controlName]="'Изкупна цена'"></app-form-errors>
          </div>

        <div class="d-flex flex-row-reverse">
          <button
            pButton
            [disabled]="!createAuctionForm.valid"
            type="button"
            pRipple
            label="Продължи"
            class="p-button-primary p-2 my-sm-4 my-0"
            (click)="nextPage()"></button>
        </div>
      </form>
    </div>
  </div>
</div>
