.container-fluid {
    color: var(--text-light);
}
h3 {
    padding: 50px;
    background-color: red;
}
:host::ng-deep {
    .preview-card {
        min-height: 300px;
        margin-bottom: 20px;
        height: auto;
        background: var(--gray-blue);
        border: 2px solid var(--gray-blue-border);
        border-radius: 8px;
        cursor: pointer;
    }
    p-card.p-element {
        width: auto;
        max-width: 481px;
    }
    .p-card-header img {
        height: auto;
        padding: 12px;
    }
    .location-label {
        color: var(--text-inactive);
    }
    p-card.p-element p,
    .p-card .p-card-title,
    .p-card .p-card-footer {
        overflow: hidden;
        word-break: break-all;
    }
}