.container-fluid {
    color: var(--text-light);
}
h3 {
    padding: 50px;
    background-color: red;
}
#descTextArea {
    resize: none;
    min-height: 200px;
    overflow:hidden;
    border: 1px solid #0b213f;
    border-radius: 6px;
}
:host::ng-deep {
    .preview-card {
        max-height: 500px;
        margin-bottom: 20px;
        background: var(--gray-blue-dark);
        border: 2px solid var(--gray-blue-border);
        border-radius: 0;
        word-break: break-all;
        transition: .2s;
    }
    .preview-card:hover {
        border-bottom-color: var(--blue-bg);
    }
    p-card.p-element {
        width: 100%;
        max-width: 481px;
    }
    .p-card-header img {
        height: auto;
        padding: 12px;
        cursor: pointer;
    }
    .location-label {
        color: var(--text-inactive);
    }
    p-card.p-element p,
    .p-card .p-card-title,
    .p-card .p-card-footer {
        margin: 0;
        overflow: hidden;
        word-break: break-all;
    }
    .location-label,
    .price-label {
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
    }
    .p-card .p-card-title,
    .p-card .p-card-content,
    .p-card-body {
        white-space: nowrap;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    i {
        cursor:pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }
    textarea,
    textarea:focus,
    input { 
        background-color: var(--gray-blue);
        color: var(--text-light);
        width: 100%;
    }
    input::placeholder,
    textarea::placeholder {
        color: var(--text-inactive);
    }
    #charLeft {
        color: var(--text-light);
        float: right;
    }
    .p-dialog,
    .p-dialog .p-dialog-header,
    .p-dialog .p-dialog-content,
    .p-dialog .p-dialog-footer {
        background-color: var(--gray-blue-dark);
    }

    .p-card-header > i {
        font-size: 3rem;
        position: relative;
        top: -6px;
        left: calc(100% - 50px);
        cursor: pointer;
    }
    .bookmarked {
        color: var(--danger);
    }
    .p-card-header {
        width: 100%;
    }
    
}