<div class="row" *ngIf="!listingSelected">
  <div
    class="col-12 col-lg-6 col-xxl-4 d-flex justify-content-center mt-4"
    *ngFor="let listing of userListings"
  >
    <p-card [header]="listing.title" styleClass="preview-card">
      <ng-template pTemplate="header">
        <!-- <i #bookmark class="pi pi-bookmark" (click)="onBookmarkListing($event, listing)"></i> -->

        <img
          (click)="onSelectListing(listing.id!)"
          alt="Card"
          [src]="listing.imageBase64Strings[0]"
        />
      </ng-template>
      <ng-template pTemplate="body">
        <p>
          {{ listing.description }}
        </p>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="d-flex justify-content-between">
          <div class="col d-flex flex-column">
            <label class="location-label"> град {{ listing.location }} </label>
            <label class="price-label"> {{ listing.price }} лв </label>
          </div>
          <div class="mt-3">
            <button class="btn btn-success" (click)="onSelectListingForEdit(listing)"><i class="pi pi-pencil"></i></button>
            <button class="btn btn-danger ms-2" (click)="onDeleteListing(listing)"><i class="pi pi-trash"></i></button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="row" *ngIf="listingSelected">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

<p-dialog
  (onHide)="resetUpdateForm()"
  (onShow)="resetUpdateForm()"
  [(visible)]="listingUpdateDialog"
  [modal]="true"
  styleClass="p-fluid"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <div class="d-flex flex-column">
      <h4>Редакция на обява</h4>
      <span
        >Ако не искате да правите промени, оставете съответното поле
        празно!</span
      >
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="listingUpdateForm">
      <label for="title">Заглавие</label>
      <input
        type="text"
        pInputText
        formControlName="title"
        [placeholder]="listingForUpdate?.title"
      />
      <label for="description">Описание</label>
      <textarea
        pInputTextArea
        type="text"
        [(ngModel)]="textAreaValue"
        (ngModelChange)="valueChange(textAreaValue)"
        id="descTextArea"
        maxlength="800"
        [placeholder]="listingForUpdate?.description"
        formControlName="description"
        pTooltip="Бъдете ясни. ще пулачаваме по-малко въпроси от купувачи. Включи повече детайли. Бъди честен"
        tooltipPosition="left"
      ></textarea>
      <span id="charLeft">Остават ви {{ remainingCharacters }} символа</span>
      <label for="price">Цена</label>
      <input
        type="number"
        pInputText
        formControlName="price"
        [placeholder]="listingForUpdate?.price"
      />
      <label for="location">Локация</label>
      <input
        type="text"
        pInputText
        formControlName="location"
        [placeholder]="listingForUpdate?.location"
      />
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Назад"
      icon="pi pi-times"
      (click)="onDiscard()"
    ></button>
    <button
      pButton
      pRipple
      label="Запази"
      icon="pi pi-check"
      (click)="onEditListing()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
