.container-fluid {
    color: var(--text-light);
}
h3 {
    padding: 50px;
    background-color: red;
}
:host::ng-deep {
    .preview-card {
        max-height: 500px;
        margin-bottom: 20px;
        background: var(--gray-blue-dark);
        border: 2px solid var(--gray-blue-border);
        border-radius: 0;
        word-break: break-all;
        transition: .2s;
    }
    .preview-card:hover {
        border-bottom-color: var(--blue-bg);
    }
    p-card.p-element {
        width: 100%;
        max-width: 481px;
    }
    .p-card-header img {
        height: auto;
        padding: 12px;
        cursor: pointer;
    }
    .location-label {
        color: var(--text-inactive);
    }
    p-card.p-element p,
    .p-card .p-card-title,
    .p-card .p-card-footer {
        margin: 0;
        overflow: hidden;
        word-break: break-all;
    }
    .location-label,
    .price-label {
        white-space: nowrap;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
    }
    .p-card .p-card-title,
    .p-card .p-card-content,
    .p-card-body {
        white-space: nowrap;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}