:host::ng-deep {
    .preview-card {
        min-height: 300px;
        margin-bottom: 20px;
        height: auto;
        background: var(--primary-medium);
        border: 2px solid var(--border);
        border-radius: 8px;
    }
    p-card.p-element {
        width: auto;
        max-width: 480px;
    }
    .p-card-header img {
        height: auto;
        padding: 12px;
    }
    .location-label {
        color: var(--text-inactive);
    }
    @media (max-width: 370px) {
        #buttons button {
            width: 100%;
            margin-bottom: 10px !important;
        }
        #buttons {
            padding: 0;
        }
    }
}