<p-toast position="top-center" key="lc"></p-toast>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p-card [header]="listingForm.value.title" styleClass="preview-card">
                <ng-template pTemplate="header">
                    <img [src]="listingForm.value.imageBase64String" alt="Card">
                </ng-template>
                <ng-template pTemplate="body">
                    <p>
                        {{ listingForm.value.description }}
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                        <div class="col d-flex flex-column">
                            <label class="location-label">
                                град {{ listingForm.value.location }}
                            </label>
                            <label class="price-label">
                                {{ listingForm.value.price }} лв
                            </label>
                        </div>
                </ng-template>
            </p-card>  
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-between flex-wrap flex-sm-nowrap" id="buttons">
            <button 
                pButton 
                pRipple
                type="button"
                label="Назад" 
                class="p-button-primary p-2 my-sm-4 my-0"
                (click)="previousPage()">
            </button>
            <button 
                pButton 
                pRipple 
                type="button"
                label="Добави обява" 
                class="p-button-success p-2 my-sm-4 my-0"
                (click)="onCreateListing()">
            </button>
        </div>
    </div>
</div>
