:host ::ng-deep {
    .p-datatable-header {
        background: var(--gray-blue-dark);
        border-bottom: none;
        border-top: 2px var(--gray-blue-border) solid;
        border-left: 2px var(--gray-blue-border) solid;
        border-right: 2px var(--gray-blue-border) solid;
        color: var(--text-light);
    }
    .p-inputtext.p-component.p-element {
        border: 2px var(--gray-blue-border) solid;
        background: var(--gray-blue); 
    }
    input::placeholder,
    option {
        color: #fff
    }
    input,
    select { 
        background-color: var(--gray-blue-hover);
        color: var(--text-light);
        padding: 12px 14px;
        border: 2px var(--gray-blue-border) solid;
    }
    input:focus {
        background: var(--gray-blue-medium);
        color: var(--text-light);
    }
    p-table.p-element tr:nth-child(even) {
        background: var(--gray-blue); 
    }
    p-table.p-element tr:nth-child(odd) {
        background: var(--gray-blue-medium); 
    }
    p-table.p-element tr {
    border: 2px var(--gray-blue-border) solid;
    }
    p-table.p-element th {
        background: var(--gray-blue);
    }
    // p-table.p-element tr:nth-of-type(1) {
    //     border-top: 2px #455474 solid;
    // }
    td.action-btn button {
        text-align: center;
        width: 40px !important;
        margin: 0;
    }

    .p-dialog {
        border: var(--gray-blue-border) 2px solid;
        color: var(--text-light);
    }
    .p-button {
        box-shadow: none !important;
        border: none !important;
    }

    div.p-dialog-header,
    div.p-dialog-content,
    div.p-dialog-footer {
        background-color: var(--gray-blue);
    }
    button.p-ripple.p-element.p-button {
        background-color: var(--blue-bg);
    }
    ::-webkit-scrollbar {
        height: 8px !important;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--blue-gray)
    }
}

