.card {
    background: var(--primary-dark);
    border: 2px solid var(--border);
    border-radius: 15px;
}
:host::ng-deep{
    .p-steps .p-steps-item.p-highlight .p-steps-number {
        background: var(--primary-medium);
        border: 2px solid var(--secondary);
    }
    .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
        border-radius: 8px;
    }
    .p-steps .p-steps-item:before {
        border: 2px solid var(--secondary);
    }

}