/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}
:root {
    --text-light: #EEEDF0;
    --text-inactive: #adadad;
    --text-dark: #17181F;
    --blue: #3456FF;
    --blue-bg: #2980b9;
    --grey-dark: #273247;
    --grey-medium: #2f3441;
}
