:host::ng-deep {
    .wrapper {
        background: var(--gray-blue);
        border-radius: 8px;
        border: 2px solid var(--gray-blue-border);
        color: var(--text-light);
    }
    #invisible-span {
        opacity: 0;
    }
    h3 {
        color: var(--text-light);
    }
    #profile-img {
        width: 100%;
        height: auto;
    }
    #listing-img {
        aspect-ratio: 1 / 1;
        width: 100%;
        padding: 10px;
        border-radius: 12px;
    }
    .location {
        color: var(--text-inactive);
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .title {
        font-weight: 600;
        font-size: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .price {
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .views {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .wrapper-container {
        background: var(--gray-blue-dark);
        transition: .2s;
        border: 2px solid var(--gray-blue-border) !important;
    }
    .wrapper-container:hover {
        border-bottom-color:  var(--blue-bg) !important;
    }

    @media (max-width:768px) {
        #listing-img {
            width: 392px;
            max-width: none;
        }
        .img-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .wrapper-container {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            width: 90%;
        }
        .price {
            margin: 8px 0;
        }
        .price-container {
            margin: 0 !important;
        }
        .preview-card {
            max-height: none !important;
        }
    }
    @media (max-width:492px) {
        #listing-img {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .p-dataview .p-dataview-header {
        border: none;
    }

    .preview-card {
        max-height: 500px;
        margin-bottom: 20px;
        background: var(--gray-blue-dark);
        border: 2px solid var(--gray-blue-border);
        border-radius: 0;
        word-break: break-all;
        transition: .2s;
    }
    .preview-card:hover {
        border-bottom-color: var(--blue-bg);
    }
    p-card.p-element {
        width: auto;
        max-width: 481px;
    }
    .p-card-header img {
        height: auto;
        padding: 12px;
        cursor: pointer;
    }
    .p-card-body {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .p-card .p-card-title,
    .p-card .p-card-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .location-label {
        color: var(--text-inactive);
    }
    .location-label,
    .price-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .p-card-footer {
        padding: 0;
    }
    p-card.p-element p,
    .p-card .p-card-title,
    .p-card .p-card-footer {
        overflow: hidden;
        word-break: break-all;
    }
    .p-grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
    }
    @media screen and (min-width: 768px) {
        .md_col-4 {
            flex: 0 0 auto;
            width: 33.3%;
        }  

    } 
    .p-dataview .p-dataview-content {
        background: transparent;
    }
    .p-dataview .p-dataview-header {
        background: transparent;
    }

    @media (max-width:576px) {
        .col-sm-9 {
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}