* {
    color: 	var(--text-light);
}
h4 {
    padding: 30px 0;
}
.content {
    background: transparent;
    width: 100%;
    height: 100%;
}
button {
    color: #313d53;
    font-weight: 450;
}
.info-container {
    background-color: var(--grey-dark);
    padding: 20px;
    border-radius: 15px;
    border: 2px #455474 solid;
}
.info-container input {
    background-color: var(--grey-medium);
    border-radius: 50px;
    padding: 12px 14px;
    pointer-events:none;
    border: 2px #455474 solid;
}
@media (max-width: 336px) {
    #buttons {
        flex-wrap: wrap;
    }
    #buttons button {
        width: 100%;
    }
    #deleteBtn {
        margin-left: 0 !important;
    }
}
