<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <p-toast></p-toast>

            <p-table 
                    #rt
                    [value]="roleList" 
                    [paginator]="true" 
                    [rows]="10"
                    [showCurrentPageReport]="true" 
                    responsiveLayout="scroll"
                    [globalFilterFields]="['name', 'claims']">

                <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-between">
                        <div style="text-align: left">        
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input #searchInput pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Търсене" />
                        </div>
                        <div class="button-group">
                            <button class="btn mr-2 h-100" (click)="onToggleRoleAddDialog()">Добави роля</button>
                        </div>
                    </div>
                </ng-template>
                    
                <ng-template pTemplate="header">
                    <tr>
                        <th pColumn="name">Име</th>
                        <th pColumn="claims">Клеймове</th>
                        <th pColumn="action">Действия</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td>
                           <div class="wrapper">
                                {{role.name}}
                           </div>
                        </td>
                        <td>
                            <select>
                                <option *ngFor="let claim of role.claims">{{claim}}</option>
                            </select>
                        </td>
                        <td>
                            <div class="d-flex action-btn">
                                <button class="btn btn-light" (click)="onToggleRoleEditDialog(role)"><i class="pi pi-pencil"></i></button>
                                <button class="btn btn-danger ms-2" (click)="onDeleteRole(role)"><i class="pi pi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog [(visible)]="roleAddDialog" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid" [draggable]="false">
                <ng-template pTemplate="header">
                    <h4>Добавяне на роля</h4>
                </ng-template>
            
                <ng-template pTemplate="content">
                    <form [formGroup]="roleForm">
                        <label for="id" >ID</label>
                        <input type="text"
                                name="id"
                                class="form-control"
                                formControlName="id">
                        <label for="name" >Name</label>
                        <input type="text"
                                name="name"
                                class="form-control"
                                formControlName="name">
                        <label for="claims">Claims</label>
                        <input type="text"
                                name="claims"
                                class="form-control"
                                formControlName="claims">
                    </form>
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Назад" icon="pi pi-times" (click)="onDiscard()"></button>
                    <button pButton pRipple label="Запази" icon="pi pi-check" [disabled]="!roleForm.valid" (click)="onAddRole()"></button>
                </ng-template>
            </p-dialog>
            <p-dialog [(visible)]="roleEditDialog" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid" [draggable]="false">
                <ng-template pTemplate="header">
                    <h4>Редакция на роля</h4>
                </ng-template>
            
                <ng-template pTemplate="content">
                    <form [formGroup]="roleForm">
                        <label for="name" >Name</label>
                        <input type="text"
                                name="name"
                                class="form-control"
                                formControlName="name">
                        <label for="claims">Claims</label>
                        <input type="text"
                                name="claims"
                                class="form-control"
                                formControlName="claims">
                    </form>
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Назад" icon="pi pi-times" (click)="onDiscard()"></button>
                    <button pButton pRipple label="Запази" icon="pi pi-check" [disabled]="!roleForm.valid" (click)="onEditRole()"></button>
                </ng-template>
            </p-dialog>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
</div>
