:host ::ng-deep {
    ::-webkit-scrollbar {
        height: 8px !important;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--blue-gray)
    }
    select option {
        background: var(--blue-gray-dark);
        color: var(--text-light);
    }
    select {
        background: var(--blue-gray-dark);
        color: var(--text-light);
        border: none;
        padding: 8px;
        border-radius: 5px;
    }
    td.action-btn button {
        text-align: center;
        width: 40px !important;
        margin: 0;
    }
    p-table.p-element td {
        background: var(--gray-blue-medium); 
        color: var(--text-light);
        border: none;

    }
    p-table.p-element th {
        background: var(--blue-gray-dark); 
        color: var(--text-light);
        border-bottom: 2px var(--gray-blue-border) solid;
    }
    div.p-datatable-wrapper {
        border: 2px var(--gray-blue-border) solid;
    }
    .wrapper {
        background: var(--blue-gray-dark); 
        padding: 8px;
        border-radius: 5px;
    }
    .p-paginator {
        border: 2px var(--gray-blue-border) solid;
        border-top: none;
    }
    .button-group button {
        background-color: var(--blue-bg);
        border: 2px var(--gray-blue-border) solid;
        color: var(--text-dark);
    }
    .button-group {
        background: transparent;
    }
    .p-toolbar.p-component {
        background: var(--gray-blue-dark);
        border-radius: 0;
        border: var(--gray-blue-border) 2px solid;
        border-bottom: none;
    }
    input { 
        background: var(--gray-blue-dark);
        color: var(--text-light);
        padding: 12px 14px;
        border: 2px var(--gray-blue-border) solid;
    }
    input:focus {
        background: var(--gray-blue-medium);
        color: var(--text-light);
    }
}


