* {
    color: var(--text-light);
}
.info-container {
    background-color: var(--gray-blue-dark);
    color: var(--text-light);
    padding: 20px;
    border-radius: 15px;
    border: 2px var(--gray-blue-border) solid;
}
.info-container input {
    background: var(--gray-blue);
    color: var(--text-light);
    border-radius: 50px;
    padding: 12px 14px;
    pointer-events:none;
    border: 2px var(--gray-blue-border) solid;
}
input::placeholder {
    color: var(--text-light);
}
.row {
    background: transparent !important;
}
h4 {
    padding: 30px 0;
}
  
