:host::ng-deep {
  .wrapper > img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 1;
  }
  .img-container {
    position: relative;
    border-radius: 15px;
    border: 2px var(--gray-blue-border) solid;
  }
  .wrapper {
    position: relative;
  }
  .upload-image-overlay {
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
  }
  .upload-image-overlay > span > i {
    font-size: 2.5rem;
  }
  .visible {
    z-index: 1;
  }
  .full-name {
    font-size: 32px;
  }
  @media (max-width: 576px) {
    .full-name {
      justify-content: center !important;
      margin: 20px 0px;
    }
  }
  .container-fluid {
    background-color: var(--gray-blue-dark);
    border-radius: 15px;
    border: 2px var(--gray-blue-border) solid;
  }
  .general-container {
    border-radius: 15px;
    border: 2px var(--gray-blue-border) solid;
  }
  .info-container {
    border-radius: 15px;
    border: 2px var(--gray-blue-border) solid;
  }
  .info-container input {
    background: var(--gray-blue);
    padding: 12px 14px;
    pointer-events: none;
    border: 2px var(--gray-blue-border) solid;
  }
  input::placeholder {
    color: var(--text-light);
  }
}
