#main-container {
  background: var(--primary-dark);
  border: 2px var(--border) solid;
  color: var(--text-primary);
  border-radius: 8px;
  width: 100%;
  height: min-content;
  z-index: 0;
}
:host::ng-deep {
  .preview-card {
    min-height: 300px;
    margin-bottom: 20px;
    height: auto;
    background: var(--primary-medium);
    border: 2px solid var(--border);
    border-radius: 8px;
  }
  .img-container {
    position: relative;
  }
  #listing-img {
    aspect-ratio: 2/1;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--border);
    position: relative;
    z-index: 2;
  }
  .img-overlay {
    aspect-ratio: 2/1;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--border);
    background-color: rgba(0, 0, 0, 0.322);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }
  .img-overlay > span > i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-light);
  }
  .img-overlay > span > i:nth-child(1) {
    opacity: 0.5;
  }
  .show-overlay {
    z-index: 0 !important;
  }
  .message-container {
    background: var(--primary-medium);
    border: 2px var(--border) solid;
    border-radius: 8px;
  }
  .author-card {
    width: 100%;
    background: var(--primary-medium);
    margin-top: 20px;
    border: 2px var(--border) solid;
    border-radius: 8px;
  }
  .info-container {
    border: 2px var(--border) solid;
    border-radius: 8px;
    background: var(--primary-medium);
    max-height: 600px;
    height: auto;
  }
  .category span {
    color: var(--text-inactive);
    font-size: 18px;
    border-bottom: 2px solid var(--secondary);
  }
  .title span {
    font-size: 28px;
    word-break: break-all;
  }
  .views {
    font-size: 14px;
    color: var(--text-inactive);
    display: block;
  }
  .price {
    border-bottom: 2px solid var(--secondary);
  }
  .description {
    word-break: break-all;
  }
  #messageTextArea {
    resize: none;
    min-height: 48px;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
    background-color: var(--primary-dark);
  }
  #messageTextArea:focus {
    height: 200px;
  }
  textarea,
  textarea:focus {
    background-color: var(--primary-medium-hover);
    border: 2px var(--border) solid;
    color: var(--text-primary);
    font-size: 16px;
    width: 80%;
  }
  .form-floating label {
    font-size: 20px;
    height: auto;
  }
  #charLeft {
    float: right;
  }
  #profile-img {
    width: 120px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 50%;
  }

  .category > i {
    font-size: 3rem;
    position: relative;
    top: -22px;
    cursor: pointer;
  }
  .bookmarked {
    color: var(--danger);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  input.form-control {
    background-color: var(--primary-dark);
    color: var(--text-primary);
    outline: none !important;
    border: 2px var(--border) solid;
  }
  .headings,
  .bid-container {
    font-size: 1.1rem;
  }

  .bid-container {
    background-color: var(--primary-medium);
    border: 2px var(--border) solid;
    border-radius: 8px;
  }
  .bid-wrapper {
    border-top: 2px var(--border) solid;
  }

  .heading {
    font-size: 1.3rem;
    display: block;
  }
  .numberOfBids {
    background-color: var(--secondary);
    border-radius: 6px;
  }

  .bid-list {
    max-height: 300px;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: inherit;
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 12px;
    background-color: Rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--secondary);
  }
  .auction-closed {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--danger);

  }
}
