<div class="bg">
  <p-toast position="top-center" key="tc" styleClass="custom-toast"></p-toast>
  <form
    *ngIf="registerMode"
    [formGroup]="registerForm"
    (ngSubmit)="onRegister()"
    class="p-3 form"
  >
    <h3 class="mt-1">Регистрация</h3>
    <div class="mt-4">
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="firstName"
          (keyup.enter)="focusableLastName.focus()"
        />
        <label for="float-input">Име</label>
      </span>
      <app-form-errors
        [control]="$any(registerForm).get('firstName')"
        [max]="'50'"
        [min]="'2'"
        [controlName]="'Име'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <span class="p-float-label">
        <input
          #focusableLastName
          id="float-input"
          type="text"
          pInputText
          formControlName="lastName"
          (keyup.enter)="focusableUserName.focus()"
        />
        <label for="float-input">Фамилия</label>
      </span>
      <app-form-errors
        [control]="$any(registerForm).get('lastName')"
        [max]="'50'"
        [min]="'2'"
        [controlName]="'Фамилия'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <span class="p-float-label">
        <input
          #focusableUserName
          id="float-input"
          type="text"
          pInputText
          formControlName="userName"
          (keyup.enter)="focusableEmail.focus()"
        />
        <label for="float-input">Потребителско име</label>
      </span>
      <app-form-errors
        [control]="$any(registerForm).get('userName')"
        [max]="'50'"
        [min]="'2'"
        [controlName]="'Потребителско име'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <span class="p-float-label">
        <input
          #focusableEmail
          id="float-input"
          type="email"
          pInputText
          formControlName="email"
          (keyup.enter)="focusablePassword.input.nativeElement.focus()"
        />
        <label for="float-input">Имейл адрес</label>
      </span>
      <app-form-errors
        [control]="$any(registerForm).get('email')"
        [controlName]="'Имейл адрес'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <p-password
        #focusablePassword
        (keyup.enter)="focusableRepeatPassword.input.nativeElement.focus()"
        formControlName="password"
        placeholder="Парола"
        promptLabel=" "
        weakLabel="Паролата е слаба"
        mediumLabel="Паролата е средна"
        strongLabel="Паролата е силна"
        strongRegex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).+$"
      >
        <ng-template pTemplate="footer">
          <p class="mt-2">Паролата трябва да съдържа:</p>
          <ul class="pl-2 ml-2 mt-0">
            <li>1 малка буква</li>
            <li>1 главна буква</li>
            <li>1 число</li>
            <li>Минимум 8 знака</li>
          </ul>
        </ng-template>
      </p-password>

      <app-form-errors
        [control]="$any(registerForm).get('password')"
        [max]="'50'"
        [min]="'6'"
        [controlName]="'Парола'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <p-password
        #focusableRepeatPassword
        (keyup.enter)="focusablePhone.focus()"
        formControlName="confirmPassword"
        placeholder="Потвърди парола"
        promptLabel=" "
        weakLabel="Паролата е слаба"
        mediumLabel="Паролата е средна"
        strongLabel="Паролата е силна"
        strongRegex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).+$"
      >
        <ng-template pTemplate="footer">
          <p class="mt-2">Паролата трябва да съдържа:</p>
          <ul class="pl-2 ml-2 mt-0">
            <li>1 малка буква</li>
            <li>1 главна буква</li>
            <li>1 число</li>
            <li>Минимум 8 знака</li>
          </ul>
        </ng-template>
      </p-password>

      <span
        *ngIf="registerForm.errors?.['notmatched'] && registerForm.touched"
        class="text-danger"
        >Паролите не съвпадат</span
      >

      <app-form-errors
        [control]="$any(registerForm).get('confirmPassword')"
        [max]="'50'"
        [min]="'6'"
        [controlName]="'Потвърди парола'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <span class="p-float-label">
        <input
          #focusablePhone
          id="float-input"
          type="text"
          pInputText
          formControlName="phoneNumber"
        />
        <label for="float-input">Телефонен номер</label>
      </span>

      <app-form-errors
        [control]="$any(registerForm).get('phoneNumber')"
        [controlName]="'Телефонен номер'"
      ></app-form-errors>
    </div>

    <div class="d-flex justify-content-between">
      <button
        type="button"
        pButton
        pRipple
        label="Назад"
        class="p-button-secondary mt-3 p-1 w-25"
        (click)="registerToggle()"
      ></button>
      <button
        type="submit"
        pButton
        pRipple
        label="Потвърди"
        class="p-button-success mt-3 p-1 w-25"
        [disabled]="!registerForm.valid"
        (click)="onRegister()"
        routerLink="listings/create"
      ></button>
    </div>
  </form>

  <form
    *ngIf="!registerMode"
    [formGroup]="loginForm"
    (ngSubmit)="onLogIn()"
    class="p-3 form"
  >
    <h3 class="mt-1">Влезте в профила си</h3>
    <h6 class="regLink">
      Нямате профил?, регистрирайте се <a (click)="registerToggle()">тук</a>
    </h6>

    <div class="mt-5">
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="userName"
          (keyup.enter)="focusablePassword.focus()"
        />
        <label for="float-input">Потребителско име</label>
      </span>
      <app-form-errors
        [control]="$any(loginForm).get('userName')"
        [max]="'50'"
        [min]="'2'"
        [controlName]="'Потребителско име'"
      ></app-form-errors>
    </div>

    <div class="mt-4">
      <span class="p-float-label">
        <input
          #focusablePassword
          id="float-input"
          type="password"
          pInputText
          formControlName="password"
        />
        <label for="float-input">Парола</label>
      </span>

      <app-form-errors
        [control]="$any(loginForm).get('password')"
        [max]="'50'"
        [min]="'6'"
        [controlName]="'Парола'"
      ></app-form-errors>
    </div>

    <div class="d-flex justify-content-between">
      <button
        type="button"
        pButton
        pRipple
        label="Назад"
        class="p-button-secondary mt-3 p-1 w-25"
        routerLink="/home"
      ></button>
      <button
        type="submit"
        pButton
        pRipple
        label="Потвърди"
        class="p-button-success mt-3 p-1 w-25"
        [disabled]="!loginForm.valid"
        (click)="onLogIn()"
        routerLink="listings/create"
      ></button>
    </div>
  </form>
</div>
